

.navbar
{
    width: 100%;
    height: 4rem;
    border-bottom: grey;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hmebut{
    pad: 2rem;
    background: white;
}

.taskbut{
background: white;
}



